/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE */

* {
  text-decoration: none;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/OstrichSans-Light.otf);
}

.nav-wrapper {
  height: 100px;
}

#myHeader {
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  width: 100;
  height: 100px;
}

header {
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  width: 100;
  height: 100px;
}

header .header-brand {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #000;
}

.current {
  color: #ff6666;
}


@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 20px 0 100px;
    border-right: 3px solid #000;
    float: left;
  }

  header nav ul {
    margin: 20px 0 20px 20px;
    float: right;
    padding-right: 100px;
  }

  header nav ul li a {
    line-height: 60px;
  }


/* Sticky Header */

  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + .index-banner {
    padding-top: 102px;
  }
}

/*INDEX*/

.index-banner {
  width: 100%;
  height: 600px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: center;
}

#title {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 125%;
  margin: 100px 0 50px;
  color: #000;
  text-align: center;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}

.index-links div h3 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 40px;
  color: #111;
  text-align: center;
  line-height: 100px;
}

.typed {
  border-bottom: 2px solid #ff6666
}


@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  #title {
    margin: 100px 200px 50px;
  }
}

/*FOOTER*/

footer {
  padding: 2px 2px;
  background-color: #000;
  overflow: hidden;
  border: solid white 50px;
}

.wrapper {
  background-color: white;
  width: 100%;
}

.wrapper p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 16px;
  color: black;
}


/* Gallery / Grid section of Portfolio*/

#container {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   z-index: 0;
   overflow: hidden;
   position: relative;
   -webkit-user-select: none;
   -moz-user-select: none;
}

.grid {
   height: 100%;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(420px, 1fr));
   grid-gap: 20px;
}

.col {
  height: 335px;
  width: 420px;
  margin: 25px 20px;
}

.grid img {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.grid p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #000;
}

.grid p span {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #ff6666;
}

.col:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 1440px) {
  .grid {
     width: 1380px;
   }

   #container {
     margin-left: calc((100vw - 1400px) / 2);
     margin-right: calc((100vw - 1360px) / 2);
   }
}

@media only screen and (max-width: 860px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((100vw - 470px)/2);
  }
}

/* Photo series */

.series {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  margin: 0 20px;
}

.col2 {
  height: 590px;
  width: 885px;
  max-width: 100%;
  height: auto;
  margin: 20px 50px;
}

.series img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

/* Hello text in */
.ml11 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 100;
  margin: 100px 0px 0px;
  color: #000;
  text-align: center;

}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #000;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 120px;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
